.svg__imgs {
    max-width: 170px;
    min-width: 170px;
    max-height: 65px;
    min-height: 65px;
    margin-bottom: 30px;
    padding: 5px;
}

.svg__imgsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 0 1 calc(20% - 8px)
}

@media (max-width:996px){
    .svg__imgsContainer {
        flex: 1 0 50%;
    }
}

@media only screen and (max-width: 540px) {
    .svg__imgs {
        max-width: 120px;
        min-width: 120px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .svg__imgs {
        max-width: 150px;
        min-width: 150px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 330px) {
    .svg__imgs {
        max-width: 128px;
        min-width: 128px;
        margin-bottom: 10px;
    }   
}

@media only screen and (max-width: 280px) {
    .svg__imgs {
        max-width: 105px;
        min-width: 105px;
        margin-bottom: 10px;
    }   
}